---
layout: default
---
<div class="post-list">
  {% for post in paginator.posts %}
    {% include post-full.html post=post %}
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.previous_page != nil or paginator.next_page != nil %}
<nav>
  <ul class="pager">
    <li class="pull-left{% if paginator.previous_page == nil %} disabled{% endif %}">
      <a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
    </li>
    <li class="pull-right{% if paginator.next_page == nil %} disabled{% endif %}">
      <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
    </li>
  </ul>
</nav>
{% endif %}


<script type="text/javascript">
  function Noise(options){
    options = options || {};
    var canvas = document.createElement("canvas");
    var CANVAS_WIDTH = options.radius || 10;
    var CANVAS_HEIGHT = options.radius || 10;
    var ctx = canvas.getContext("2d");
    var imageCanvas = ctx.createImageData(CANVAS_WIDTH, CANVAS_HEIGHT);
    if(  options.animation ){
     this.animation = options.animation;
    }

    this.colorA = options.color1 || [255, 255, 255, 255];
    this.colorB = options.color2 || [120, 120, 120, 255];
    this.ratio = options.ratio || 0.001;
    canvas.width = CANVAS_WIDTH;
    canvas.height = CANVAS_HEIGHT;
    this.canvas = canvas;
    this.ctx = ctx;
    this.imageCanvas = imageCanvas;
    this.imageData = imageCanvas.data;
    this.imageDataLength = this.imageData.length;
}


Noise.prototype.draw = function (){
  var colorSelected, i=3;
  for(; i<this.imageDataLength;i += 4){
          colorSelected = Math.random() > this.ratio ? this.colorA : this.colorB;
          this.imageData[i] = colorSelected[3];
          this.imageData[i - 1] = colorSelected[2];
          this.imageData[i - 2] = colorSelected[1];
          this.imageData[i - 3] = colorSelected[0];
    }

    this.ctx.putImageData(this.imageCanvas, 0, 0);
    document.body.style.background = "url(" + this.canvas.toDataURL("image/jpeg", 0.1) + ") repeat top left";
}

Noise.prototype.update = function () {
  this.draw();
};

Noise.prototype.generate = function (){
  this.draw();
  if( this.animation ){
    this.animation();
  }
};

(function(){
  var colors = [
    [[0xa4, 0xa9, 0xb0, 255], [0xff, 0xff, 0xff, 255]],
    [[0xc4, 0xc9, 0xc0, 255], [0xff, 0xff, 0xff, 255]],
  ];
  var color = colors[Math.round(Math.random()*(colors.length - 1))];
  var noiseBg = new Noise({ratio: 0.05, color1: color[0], color2: color[1], radius: 105});
  noiseBg.generate();
  var last_update = +Date.now();

  function loop(){
    var now = +Date.now();
    if( now - this.last_update > 1000/60){
      last_update = now;
      noiseBg.update();
    }
    window.requestAnimationFrame(loop);
  }
})();
</script>
