---
layout: default
---
<div class="post-list">
  {% for post in paginator.posts %}
    {% include post-list.html post=post %}
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.previous_page != nil or paginator.next_page != nil %}
<nav>
  <ul class="pager">
    <li class="pull-left{% if paginator.previous_page == nil %} disabled{% endif %}">
      <a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
    </li>
    <li class="pull-right{% if paginator.next_page == nil %} disabled{% endif %}">
      <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
    </li>
  </ul>
</nav>
{% endif %}
