---
---

#pockets{
  position: relative;
  min-height: 100vh;
}

.loading{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  left:0;
  right:0;
  margin: 0 auto;
}
.pocket-list{
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 15px;
    visibility: hidden;
    &.pocket-list--show{
      visibility: visible;
    }
}

.pocket-item{
    width: calc(100%/4 - 45px/4);
    padding: 0 15px 15px;
    margin-right: 15px;
    border: 1px solid rgba(175, 184, 255, 0.9098039215686274);
    margin-top: 15px;
}

.pocket-item:nth-child(4n+4){
  margin-right: 0;
}
.pocket-item:last-child{
  position: relative;
  min-height: 20rem;
}
.pocket-more{
  display: block;
  text-align: center;
  cursor: pointer;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #bbb;
  line-height: 15rem;
  font-size: 3rem;
}