---
---

#pockets{
  position: relative;
  min-height: 100vh;
}

.loading{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  left:0;
  right:0;
  margin: 0 auto;
}
.pocket-list{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 5rem;
    visibility: hidden;
    &.pocket-list--show{
      visibility: visible;
    }
}

.pocket-item{
    padding: 0 15px 15px;
    border-top: 10px solid rgba(71, 171, 212, 0.75);
    // border: 1px solid rgba(231, 233, 249, 0.91);
    margin-top: 15px;
    // border-radius: 5px;
    // box-shadow: 1px 2px 0.6px rgba(208, 205, 205, 0.66);
    background: rgba(255, 255, 255, 0.7);
    a{
      word-break: break-all;
    }
}

.pocket-item:last-child{
  position: relative;
  min-height: 20rem;
}
.pocket-more{
  display: block;
  text-align: center;
  cursor: pointer;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #bbb;
  line-height: 15rem;
  font-size: 3rem;
}
.pocket-published-time{
  font-size: 1rem;
  float: right;
  font-weight: normal;
}

#pocket-load-more{
  display: block;
  text-align: center;
}