---
layout: default
---

{% raw %}
<div id="pockets">
  <img class="loading" v-if="!pockets.length" src="/images/loading.svg">
  <ul class="pocket-list" v-bind:class="{'pocket-list--show': pockets.length}">
     <li class="pocket-item" v-if="pocket.title && pocket.excerpt"  v-for="pocket in pockets" key="pocket.item_id">
        <h3><a v-bind:href="pocket.url" target="_blank" v-text="pocket.title"></a></h3>
        <p v-text="pocket.excerpt"></p>
      </li>
      <li class="pocket-item">
        <a class="pocket-more" v-on:click="loadMore()">more</a>
      </li>
  </ul>
</div>
{% endraw %}

<script src="https://s3.amazonaws.com/stitch-sdks/js/library/v2/stable/stitch.min.js"></script>
<script>
  const client = new stitch.StitchClient('pocket-shadow-lupfq');
  const db = client.service('mongodb', 'mongodb-atlas').db('pocket');
  client.login().then(()=>
    db.collection('articles').find().limit(10).execute()
  ).then(docs => {
    console.log("Found docs", docs)
    console.log("[MongoDB Stitch] Connected to Stitch")
  }).catch(err => {
    console.error(err)
  });
</script>


<script src="/scripts/localforage.min.js" type="text/javascript"></script>
<script src="/scripts/vue.js" type="text/javascript"></script>
<script src="/scripts/pockets.js"  type="text/javascript"></script>
