#sidebar{
  background: rgba(243, 249, 255, 0.32);
}
.navigation{
  font-size: 2rem;
  margin: 0 2rem;
  padding: 0;
}
.navigation__link{
  display: block;
  width: 100%;
  padding: 0.5rem;
  white-space: nowrap;
}
.navigation__item{
  display: block;
}

@media screen and (max-width: 768px){
  .navigation__item:last-child{
    display: none!important;
  }
}

@media screen and (max-width: 1023px){
  body{
    padding-top: 40px;
  }
  #sidebar{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 999;
    width: 100vw;
    background: rgb(243, 249, 255);
    border-bottom: 2px double #e67070;
    .navigation{
      display: flex;
      list-style: none;
      justify-content: space-between;
      .navigation__item{
        display: block;
      }
    }
  }
  #main .post{
    margin-left: 0;
    margin-right: 0;
  }
}

@supports (display: grid) {
  @media screen  and (min-width: 1024px) {
    body{
      display: grid;
      grid-template-columns: 300px auto;
      grid-gap: 1.2rem;
    }

    #main{
      padding-left: 0;
      padding-right: 15px;
      justify-self: stretch;
      overflow-y: auto;
    }
    #sidebar{
      width: 300px;
      grid-column: 1/2;
      padding-left: 32px;
      padding-top: 15vh;
      min-height: 100vh;
    }
  }
}

@supports not (display: grid) {
  @media screen  and (min-width: 1024px) {
    #main{
      padding-left: 300px;
    }
    #sidebar{
      position: fixed;
      left:0;
      top:0;
      height: 100%;
      width: 300px;
      padding-left: 32px;
      padding-top: 200px;
    }
  }
}
#SOHUCS{
  padding-top: 40px;
  #SOHU_MAIN {
    .changyan-login-dialog-wrapper .platform-login{
      .split-hr,
      .cy-logo{
        display: none;
      }
    }
    .module-hot-topic{
      display: none!important;
    }

    & > div.module-mobile-cmt-list > div.list-footer-wrapper-wap > div{
      display: none;
    }
  }
}

#SOHUCS #SOHU_MAIN .module-mobile-cmt-header .mobile-header-head .header-comment-number .comment-text,
#SOHUCS #SOHU_MAIN .module-mobile-cmt-header .mobile-header-head .header-login{
  font-size: 1.375rem!important;
  font-weight: normal!important;
  font-family: inherit!important;
}
#SOHU_MAIN > div.module-mobile-cmt-header > div.mobile-header-head > div.header-comment-number > span.comment-number {
    height: auto!important;
    line-height: inherit!important;
    padding: 0!important;
    background-color: transparent!important;
    border-radius: 0!important;
    font-size: inherit!important;
    font-family: inherit!important;
    color: inherit!important;
    & + .comment-number-tri{
      display: none!important;
    }
}
