.page{
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  margin: 15px 15px 30px;
}
.pager{
  padding: 0 15px;
}
#page--404{
  height: 80vh;
  line-height: 80vh;
  margin: 10vh auto;
  text-align: center;
  font-size: 6rem;
}
