.post__title{
  color: $text-color;
  overflow: hidden;
  text-align: left;
  &:hover{
    text-decoration: none;
  }
}
.post-date{
  vertical-align: text-bottom;
  font-size: 12px;
  display:inline-block;
}

.card-post{
  height: 310px;
  margin-bottom: 15px;
}
.card-post__item{
  height: 100%;
  transition: none;
}
.card-post__item > img.card-post__thumbnail,
.card-post__item a > img.card-post__thumbnail{
  height: 230px;
}
.card-post__header{}
.card-post__body{
  height: 70px;
}
