#search-page{
  .post-list{
    padding-bottom: 50px;
  }
}
.search-form{
  border-top: 1px solid #d6d5d5;
  padding-top: 2rem;
  margin-top: 3rem;
}
.search-query{
  border: 1px solid #afafaf;
  box-shadow: none;
  padding: 2px;
  border-right: none;
  vertical-align: baseline;
  height: 27px;
  outline: none;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  &:focus{
    outline: none;
  }
}
.search-submit{
  position: relative;
  padding: 0 1rem;
  margin: 0;
  box-sizing: border-box;
  height: 27px;
}
