body{
  will-change: background;
  background: #ededed;
}
p{
  line-height: normal;
}
h2, .h2{
  border-bottom: 1px solid rgba(166, 166, 166, 0.55);
  padding: 1rem 0;
  margin-bottom: 2rem;
}

code{
  margin-bottom: 0.3rem;
  display: inline-block;
}
