<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    {% include scripts.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <base href="{{site.baseurl}}"/>
  </head>
  <body id="{% if page.id %} {{page.id}} {% endif %}">
    {% include header.html %}
    <div class="container">
      <div id="main"  class="row">
          {{ content }}
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
