---
layout: default
---

<div class="row">
  <div class="col-md-12">
    <article class="post">
      <header class="post__header">
        <h1 class="post__title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
      </header>
      <section class="post__content">
          {{ content }}
      </section>
      <section>
        {% include disqus.html %}
      </section>
      {% if page.tags != nil %}
      <dl class="post-tags">
        <dd class="post-tags__label">标签:</dd>
        {% for tag in page.tags %}
        <dt class="post-tags__item"><a class="text-muted post-tags__item--link"> #{{ tag }}</a></dt>
        {% endfor %}
      </dl>
      {% endif %}
      <section class="post-pagination__wrapper">
        {% include post-pagination.html %}
      </section>
      {% include disqus.html %}
    </article>
  </div>
</div>
