---
layout: default
---

<article class="post">
  <header class="post__header">
    <h1 class="post__title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
  </header>
  <section class="post__content">
      {{ content }}
  </section>
  {% if page.tags != nil %}
  <dl class="post-tags">
    <dd class="post-tags__label">标签:</dd>
    {% for tag in page.tags %}
    <dt class="post-tags__item"><a class="text-muted post-tags__item--link" href="{{ site.baseurl }}/tag/{{ tag }}"> #{{ tag }}</a></dt>
    {% endfor %}
  </dl>
  {% endif %}

  {% include comments.html %}

  <section class="post-pagination__wrapper">
    <div class="pagination">
      <div class="pull-left">
        {% if page.next.url %}
          上一篇：<a href="{{ page.next.url }}" class="next">{{page.next.title}}</a>
        {% endif %}
      </div>
      <div class="pull-right">下一篇：
          {% if page.previous.url %}
            <a href="{{ page.previous.url }}" class="previous">{{page.previous.title}}</a>
          {% endif %}
      </div>
    </div>
  </section>
</article>

<!-- JiaThis Button BEGIN -->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"4","bdPos":"right","bdTop":"100"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- JiaThis Button END -->
